###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
#*.cs     diff=csharp

###############################################################################
# Set the merge driver for project and solution files
#
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (Merging from VS is not affected by the settings below, in VS
# the diff markers are never inserted). Diff markers may cause the following 
# file extensions to fail to load in VS. An alternative would be to treat
# these files as binary and thus will always conflict and require user
# intervention with every merge. To do so, just uncomment the entries below
###############################################################################
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
#*.jpg   binary
#*.png   binary
#*.gif   binary

###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain

# Static libs
*.a       filter=lfs diff=lfs merge=lfs -text
*.lib     filter=lfs diff=lfs merge=lfs -text

# Shared / Dynamic libs
*.bundle  filter=lfs diff=lfs merge=lfs -text
*.dll     filter=lfs diff=lfs merge=lfs -text
*.dylib   filter=lfs diff=lfs merge=lfs -text
*.node    filter=lfs diff=lfs merge=lfs -text
*.sa      filter=lfs diff=lfs merge=lfs -text
*.so      filter=lfs diff=lfs merge=lfs -text

# Executable Files
*.app     filter=lfs diff=lfs merge=lfs -text
*.exe     filter=lfs diff=lfs merge=lfs -text

# Package files
*.nupkg   filter=lfs diff=lfs merge=lfs -text

# Image files
*.bmp     filter=lfs diff=lfs merge=lfs -text
*.gif     filter=lfs diff=lfs merge=lfs -text
*.ico     filter=lfs diff=lfs merge=lfs -text
*.jpg     filter=lfs diff=lfs merge=lfs -text
*.jpeg    filter=lfs diff=lfs merge=lfs -text
*.png     filter=lfs diff=lfs merge=lfs -text
*.tif     filter=lfs diff=lfs merge=lfs -text
*.tiff    filter=lfs diff=lfs merge=lfs -text
*.webp    filter=lfs diff=lfs merge=lfs -text

# Audio files
*.aac     filter=lfs diff=lfs merge=lfs -text
*.aif     filter=lfs diff=lfs merge=lfs -text
*.aiff    filter=lfs diff=lfs merge=lfs -text
*.flac    filter=lfs diff=lfs merge=lfs -text
*.m4a     filter=lfs diff=lfs merge=lfs -text
*.mp3     filter=lfs diff=lfs merge=lfs -text
*.oga     filter=lfs diff=lfs merge=lfs -text
*.ogg     filter=lfs diff=lfs merge=lfs -text
*.ram     filter=lfs diff=lfs merge=lfs -text
*.wav     filter=lfs diff=lfs merge=lfs -text
*.wma     filter=lfs diff=lfs merge=lfs -text

# Movie files
*.avi     filter=lfs diff=lfs merge=lfs -text
*.flv     filter=lfs diff=lfs merge=lfs -text
*.mov     filter=lfs diff=lfs merge=lfs -text
*.mp4     filter=lfs diff=lfs merge=lfs -text
*.mpeg    filter=lfs diff=lfs merge=lfs -text
*.mpg     filter=lfs diff=lfs merge=lfs -text
*.ogv     filter=lfs diff=lfs merge=lfs -text
*.ogx     filter=lfs diff=lfs merge=lfs -text
*.rm      filter=lfs diff=lfs merge=lfs -text
*.spx     filter=lfs diff=lfs merge=lfs -text
*.webm    filter=lfs diff=lfs merge=lfs -text
*.wmv     filter=lfs diff=lfs merge=lfs -text

# Font files
*.otf     filter=lfs diff=lfs merge=lfs -text
*.ttf     filter=lfs diff=lfs merge=lfs -text
*.woff    filter=lfs diff=lfs merge=lfs -text
*.woff2   filter=lfs diff=lfs merge=lfs -text

# Binary documents
*.doc     filter=lfs diff=lfs merge=lfs -text
*.docx    filter=lfs diff=lfs merge=lfs -text
*.pdf     filter=lfs diff=lfs merge=lfs -text
*.ppt     filter=lfs diff=lfs merge=lfs -text
*.pptx    filter=lfs diff=lfs merge=lfs -text
*.xls     filter=lfs diff=lfs merge=lfs -text
*.xlsx    filter=lfs diff=lfs merge=lfs -text

# Compressed files
*.7z      filter=lfs diff=lfs merge=lfs -text
*.cab     filter=lfs diff=lfs merge=lfs -text
*.gz      filter=lfs diff=lfs merge=lfs -text
*.lha     filter=lfs diff=lfs merge=lfs -text
*.lzh     filter=lfs diff=lfs merge=lfs -text
*.tar     filter=lfs diff=lfs merge=lfs -text
*.tgz     filter=lfs diff=lfs merge=lfs -text
*.zip     filter=lfs diff=lfs merge=lfs -text

# Visual Studio Project Files
*.sln                text eol=crlf
*.vcxproj            text eol=crlf
*.vcxproj.filters    text eol=crlf
*.csproj             text eol=crlf
*.manifest           text eol=crlf

# Files built by Visual Studio
*.pdb     filter=lfs diff=lfs merge=lfs -text
